<select name="book[__position__]" class="form-control" id="book_type">
    <option>{{ 'choose_a_type'|trans }}</option>
    <option value="title">{{ 'book.title'|trans }}</option>
    <option value="author">{{ 'book.author'|trans }}</option>
    <option value="price">{{ 'book.price'|trans }}</option>
    <option value="quantity">{{ 'book.quantity'|trans }}</option>
    <option value="sold">{{ 'book.sold'|trans }}</option>
</select>