{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{ asset('uploads/users/avatar/' ~ app.user.avatar) }}"
                             class="img-responsive" alt="">
                        {{ form_start(avatar) }}
                            {{ form_row(avatar.avatar) }}
                            <button>upload</button>
                        {{ form_end(avatar) }}
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ app.user.name }}
                            {{ app.user.lastname }}
                        </div>
                        <div class="profile-usertitle-job">
                            Title
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-success btn-sm">Follow</button>
                        <button type="button" class="btn btn-danger btn-sm">Message</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li role="presentation" class="active">
                                <a href="#info" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-home"></i>
                                    {{ 'Dashboard'|trans }}</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-home"></i>
                                    {{ 'Profile' }} </a>
                            </li>
                            <li>
                                <a href="#time" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Account Settings </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Tasks </a>
                            </li>
                            <li>
                                <a href="#timeline" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    {{ 'Timeline'|trans }} </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">
                        <canvas id="myChart" width="400" height="100">asd</canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <h3>{{ 'Personal data'|trans }}</h3>
                        {{ form_start(profile) }}
                        {{ form_row(profile.name) }}
                        {{ form_row(profile.lastname) }}
                        {{ form_row(profile.username) }}
                        {{ form_row(profile.email) }}
                        {{ form_row(profile.plainPassword) }}
                        <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                        {{ form_end(profile) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="timeline">
                        <h2>{{ 'Timeline'|trans }}</h2>
                        <section id="cd-timeline" class="cd-container">
                            <div class="cd-today-date">
                                {{ 'now'|date('D g:i a') }}
                            </div>
                            {% for event in timeline %}
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                        <img src="{{ asset('assets/images/timeline/' ~ event.image) }}" alt="Picture">
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <h2>{{ event.title }}</h2>
                                        <p>{{ event.description }}</p>
                                        <a href="{{ path('view_the_book', {id: event.parentId}) }}#review{{ event.userId }}" class="cd-read-more">{{ 'Open'|trans }}</a>
                                        <span class="cd-date">{{ event.createdAt|date('D g:i a') }}</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->
                            {% endfor %}
                            <div class="cd-load-more btn">
                                {{ 'Load more'|trans }}
                            </div>
                        </section> <!-- cd-timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab panes -->
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/vertical-timeline.css') }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/vertical-timeline.js') }}"></script>
    <script src="{{ asset('assets/node_modules/chart.js/dist/Chart.js') }}"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"],
                datasets: [
                    {
                        label: "Total pages read",
                        fill: true,
                        lineTension: 0.3,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,0)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: [65, 59, 5, 81, 22, 55, 40, 10, 9, 10, 20],
                        spanGaps: true,

                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display:false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        }
                    }]
                }
            }
            });
    </script>
{% endblock %}